body{
	margin: 0;
	max-width:  100%;
	overflow-x:  hidden;
	cursor: default;
}
h2{
	font-size: 40px;
}
img{
	max-width: 100%;
}
a:active,
a:hover{
	text-decoration: none;
	text-transform: none;
}
a{
	color: #000;
	text-decoration: none !important;
	text-transform: none;
}
input:active,
input{
	outline: none;
}
input[type="submit"]{
	color: #fff;
	border: none;
	padding: 10px 30px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 4px;
    background-image: -webkit-linear-gradient( 90deg, rgb(108,144,252) 0%, rgb(46,98,254) 0%, rgb(86,211,230) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(108,144,252) 0%, rgb(46,98,254) 0%, rgb(86,211,230) 100%);
    -webkit-box-shadow: 0px 5px 8px 0px rgba(7, 65, 237, 0.45);
            box-shadow: 0px 5px 8px 0px rgba(7, 65, 237, 0.45);
}
section{
	min-height: -webkit-max-content;
	min-height: -moz-max-content;
	min-height: max-content;
	height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position:  relative;
	background-position: center;
	background-size: cover;
	padding-top: 115px;
	padding-bottom: 50px;
}
.button{
	cursor: pointer;
}
.container{
	max-width: 100%;
}
.section-header{
	width: 840px;
	max-width:  100%;
	display: block;
	margin: 0 auto;
	color: rgb(51, 51, 51);
	cursor: default;
}
.section-header h3{
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	text-align: center;
	max-width: 100%;
	display: block;
	color: rgb(51, 51, 51);
	margin: 0 auto;
	position:  relative;
	background:  #fff;
	z-index:  10;
	padding: 0 30px;
}
.section-header hr{
	content: '';
	display: block;
	height: 1px;
	background: rgb(204, 204, 204);
	width: 420px;
	border:  none;
	position:  relative;
	top: -35px;
}
.section-header h2{
	text-align: center;
	margin-top:  -10px;
	margin-bottom:  20px;
}
.section-header p{
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	color: rgb(140, 151, 168);
}


header{
	position: fixed;
	z-index: 100;
	top: 0;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	width: 100%;
	background: rgba(22, 40, 96, .3);
}
header.scrollTop{
    background-color: rgb(21, 63, 191);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(9, 46, 88, 0.17);
            box-shadow: 0px 2px 2px 0px rgba(9, 46, 88, 0.17);
}
header .container{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	min-height: 60px;
	position: relative;
}
header .logo{
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
header{
	cursor: default;
	/*box-shadow: 0px 5px 8px 0px rgba(7, 65, 237, 0.45);*/
}
#main-menu{
	float: right;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
	position: absolute;
	right: 0;
}
#main-menu .menu-item{
	display: inline-block;
	color: #fff;
	/*border-radius: 4px;*/
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	padding: 8px 16px;
	margin: 0 4px;
	opacity: .5;
}
#main-menu .menu-item a span{
	color: #fff;
}
#main-menu .active .menu-item{
	opacity: 1;
	border-bottom: 1px solid #fff;
}
#main-menu .language{
	opacity: 1;
}
#main-menu .language span{
	opacity: .5;
}
#main-menu .language .active{
	opacity: 1;
}

#sandwich {
	width: 100px;
	height: 100px;
	position: absolute;
    top: -16px;
    right: -16px;
	float: right;
	display: none;
	margin: 0;
	margin-right: 0;
	margin-left: auto;
	transform: scale(.3);
}
.sw-topper {
  position: relative;
  top: 0;
  width: 100px;
  height: 10px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
  position: relative;
  width: 100px;
  height: 10px;
  top: 20px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}
.sw-footer {
  position: relative;
  width: 100px;
  height: 10px;
  top: 40px;
  background: #fff;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
#sandwich.active .sw-topper {
  top: 15px;
  transform: rotate(140deg);
}
#sandwich.active .sw-bottom {
  top: 5px;
  transform: rotate(-140deg);
}
#sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg);
}



/* banner 
--------------------------------------------*/
#banner{
	display: block;
    background-image: url('./images/home-banner-bg.jpg');
}
#banner .banner-logo{
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: 0 auto;
	position:  absolute;
	display:  block;
	left:  0;
	right:  0;
	max-width: 100%;
    position: absolute;
    bottom: 0;
    max-height: 50vh;
    -o-object-fit: contain;
       object-fit: contain;
}

#banner h2{
	font-size: 56px;
	color: #fff;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 36px;
	text-align: center;
	padding: 0 15px;
}
#banner p{
	color: #fff;
	text-align: center;
	padding: 0 15px;
	font-size: 22px;
}

/* hunter
-------------------------------------------- */
#hunter{
    background-image: url('./images/hunter-bg.png');
}
#hunter h2{
	color: rgb(58, 105, 249);
	text-align: center;
	margin-bottom: 50px;
}
#hunter p{
	font-size: 20px;
	text-align: justifyLeft;
	color: rgb(102, 102, 102);
	line-height: 2.15;
}
#hunter span{
	color: rgb(58, 105, 249);
}
#hunter a.button{
	font-size: 26px;
	color: #fff;
	display: block;
	margin: 80px auto;
	padding: 10px 30px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	border-radius: 4px;
	/*opacity: .8;*/
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	position: relative;
	background-image: -webkit-linear-gradient( 90deg, rgb(108,144,252) 0%, rgb(46,98,254) 0%, rgb(86,211,230) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(108,144,252) 0%, rgb(46,98,254) 0%, rgb(86,211,230) 100%);
	-webkit-box-shadow: 0px 5px 8px 0px rgba(7, 65, 237, 0.45);
	        box-shadow: 0px 5px 8px 0px rgba(7, 65, 237, 0.45);
}
#hunter a.button:active{
	bottom: -2px;
    -webkit-box-shadow: none;
            box-shadow: none;
}
#hunter a.button img{
	position:  relative;
	top: -2px;
	margin-left: 14px;
	width: 26px;
}


/* technical
--------------------------------------------*/
#technical{
	background: #416ff9;
	color: #fff;
}
#technical h2{
	text-align: center;
	margin-bottom: 200px;
	margin-top: 32px;
}
#technical h3{
	text-align: center;
}
#technical h3:after,
#technical h3:before{
	content: '';
	display: inline-block;
	width: 110px;
	height: 1px;
	background: #fff;
	margin: 10px 40px;
}

#technical .technical-item{
	background-repeat: no-repeat;
	background-size: 96px;
	padding-left: 110px;
	min-height: 150px;
	cursor: default;
	-webkit-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
	text-align: left;
	max-width:  330px;
}
#technical .right-technical .technical-item{
	padding-left: 0;
	padding-right: 110px;
	background-position: right top;
	text-align: right;
	float:  right;
	margin-bottom: 10px;
}
#technical .technical-item h4{
	font-size: 24px;
	line-height: 1;
	margin-bottom: 18px;
}
#technical .technical-item p{
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.5;
}
#technical .right-technical .technical-item{

}

#technical .technical-item.price{
	background-image: url('./images/Technical-icon_one.png');
}
/*#technical .technical-item.price:hover{
	background-image: url('./images/Technical-icon_one-hover.png');
}*/
#technical .technical-item.dpos{
	background-image: url('./images/Technical-icon_two.png');
}
/*#technical .technical-item.dpos:hover{
	background-image: url('./images/Technical-icon_two-hover.png');
}*/
#technical .technical-item.wallet{
	background-image: url('./images/Technical-icon_three.png');
}
/*#technical .technical-item.wallet:hover{
	background-image: url('./images/Technical-icon_three-hover.png');
}*/
#technical .technical-item.persone{
	background-image: url('./images/Technical-icon_four.png');
}
/*#technical .technical-item.persone:hover{
	background-image: url('./images/Technical-icon_four-hover.png');
}*/
#technical .technical-item.dapp{
	background-image: url('./images/Technical-icon_five.png');
}
/*#technical .technical-item.dapp:hover{
	background-image: url('./images/Technical-icon_five-hover.png');
}*/
#technical .technical-item.browser{
	background-image: url('./images/Technical-icon_six.png');
}
/*#technical .technical-item.browser:hover{
	background-image: url('./images/Technical-icon_six-hover.png');
}*/
#technical img.phone-img{
	position:  absolute;
	left:  0;
	right:  0;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin:  0 auto;
	bottom: -80px;
}




/* profesional
--------------------------------------------*/
#profesional{
}
.profesional-img{
}
.profesional-img img{
	display: inline-block;
	width:  -webkit-max-content;
	width:  -moz-max-content;
	width:  max-content;
	display:  inline-block;
	margin:  0 auto;
}
.profesional-img img.profesional-center{
	margin-bottom: 58px;
}



/* talent
--------------------------------------------*/
#talent{
	background: #f0f5fd;
}
#talent .section-header h3{
	background: #f0f5fd;
}
.talent-img{
	padding-top: 50px;
	text-align:  center;
}
.talent-img .img-item{
	display:  inline-block;
}
.talent-img img{
	width: 375px;
	-o-object-fit: cover;
	   object-fit: cover;
	height: 580px;
}
#talent .img-item p{
	font-size: 14px;
	color: rgb(140, 151, 168);
	text-align: center;
}


/* employment
--------------------------------------------*/
#employment{
}
#employment img.employment-img{
	display: block;
	margin: 30px auto -50px;
}
#employment .footer-employment{
	text-align: center;
	font-size: 14px;
	color: rgb(140, 151, 168);
}


/* map
--------------------------------------------*/
#map{
    color: #fff;
    padding-bottom: 100px;
    padding-top: 160px;
    /*background-image: -webkit-linear-gradient( -190deg, rgb(108,144,252) 0%, rgb(46,98,254) 0%, rgb(86,211,230) 100%);*/
    /*background-image: -ms-linear-gradient( -190deg, rgb(108,144,252) 0%, rgb(46,98,254) 0%, rgb(86,211,230) 100%);*/
	background: rgb(57, 104, 247);
}
#map .map-img{
    width: 86%;
    padding-top: 100px;
}
#map h2{
	font-size: 26px;
	margin-bottom: 22px;
}
#map p{
	font-size: 15px;
	line-height: 1.625;
	padding-bottom: 30px;
}

.map-item-wrap{
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	opacity: .6;
	cursor: default;
}
.map-item-container{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[3];
	    grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
#map .map-item{
	background: rgb(26, 108, 202, .8);
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	font-size: 16px;
	text-align: center;
	padding: 18px 0;
	/*cursor: pointer;*/
}
#map .map-item-wrap span{
	text-align: center;
	margin-top: 10px;
	display:  block;
	margin-bottom: -10px;
	font-size: 12px;
}
#map .map-item-wrap.active{
	opacity: 1;
}
#map .map-item-wrap.active .map-item{
	background: #59cffc;
	color: #fff;
	opacity: 1;
	-webkit-box-shadow: 0px 6px 8px 0px rgba(0, 3, 19, 0.13);
	        box-shadow: 0px 6px 8px 0px rgba(0, 3, 19, 0.13);
}
#map .button{
	font-size: 16px;
	color: rgb(13, 92, 183);
	line-height: 1.625;
	border-radius: 4px;
	background-image: -webkit-linear-gradient( 90deg, rgb(214,214,214) 0%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(214,214,214) 0%, rgb(255,255,255) 100%);
	-webkit-box-shadow: 0px 6px 6px 0px rgba(9, 46, 88, 0.2);
	        box-shadow: 0px 6px 6px 0px rgba(9, 46, 88, 0.2);
	width:  -webkit-max-content;
	width:  -moz-max-content;
	width:  max-content;
	padding: 10px 20px;
	margin-top: 30px;
}

/* timer
--------------------------------------------*/
#timer{
}
#timer h3{
	font-size: 26px;
	color: rgb(51, 51, 51);
	margin-bottom: 100px;
	margin-top: 100px;
}
#timer span{
	display: inline-block;
	font-size: 26px;
	color: rgb(51, 51, 51);
}
#timer .clock{
	display: inline-block;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
}
#timer .clock span{
/*	font-size: 60px;
    letter-spacing: 47px;
    text-indent: 28px;
    line-height: 108px;
    width: 172px;
    height: 110px;
    background: url(./images/hrc-count_bg.png);
    background-size: 85px;*/
    display: none;
}
#timer .clock span.s1{
    width: 86px;
}
.pre-info{
	border-radius: 4px;
	-webkit-box-shadow: inset 0px -70px 41px 0px rgba(255,255,255,0.7);
	        box-shadow: inset 0px -70px 41px 0px rgba(255,255,255,0.7);
	overflow: hidden;
	position: relative;
	background-image: -webkit-linear-gradient( 90deg, rgb(245,247,249) 0%, rgb(235,237,240) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(245,247,249) 0%, rgb(235,237,240) 100%);
}
.pre-info .shadow{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient( 90deg, rgb(245,247,249) 0%, rgb(235,237,240) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(245,247,249) 0%, rgb(235,237,240) 100%);
}

.pre-info .pre-info-item:nth-child(2){
	opacity: .8;
}
.pre-info .pre-info-item:nth-child(3){
	opacity: .65;
}
.pre-info .pre-info-item>div{
	display: inline-block;
	width: 32%;
	padding: 8px 10px;
	-webkit-box-sizing:  border-box;
	        box-sizing:  border-box;
	position:  relative;
}
.pre-info .year{
	border-right: 2px solid #cbd2dd;
}
.pre-info .time:before{
	content: '';
	background: url('./images/point-grey.png');
	width: 10px;
	height: 10px;
	display:  block;
	border-radius: 50%;
	position:  absolute;
	margin-left: -20px;
	margin-top: 5px;
	padding: 6px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.pre-info .time.active:before{
	background: url('./images/point-blue.png');
}
.pre-info .value{
	text-align: right;
}


/* team
--------------------------------------------*/
#team{
	background: #f0f5fd;
}
#team .section-header{
	margin-bottom: 60px;
}
#team .section-header h3{
	background: #f0f5fd;
}
#team .row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}
#team .col-sm-4{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
#team .team-item{
	cursor: default;
	margin-bottom: 40px;
	margin-top: 60px;
	position:  relative;
	padding: 60px 20px 20px;
	background-color: rgb(255, 255, 255);
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	-webkit-box-shadow: 0px 6px 9px 0px rgba(15, 95, 188, 0.3);
	        box-shadow: 0px 6px 9px 0px rgba(15, 95, 188, 0.3);
}
#team .team-item:hover{
	-webkit-box-shadow: 0px 16px 29px 0px rgba(15, 95, 188, 0.3);
	        box-shadow: 0px 16px 29px 0px rgba(15, 95, 188, 0.3);
}
#team .team-item img{
	position:  absolute;
	top: -42px;
	left: 21px;
}
#team .team-item .name{
	color: rgba(33, 90, 255, 0.8);
	font-size: 28px;
}
#team .team-item .desc{
	color: rgb(153, 153, 153);
	line-height: 1.653;
	font-size: 15px;
}


/* media information
--------------------------------------------*/
#media-information{

}
#media-information .information-box{
	-webkit-box-shadow: 0px 4px 28px 0px rgba(9, 46, 88, 0.17);
	        box-shadow: 0px 4px 28px 0px rgba(9, 46, 88, 0.17);
	margin-left: 60px;
	position:  relative;
}
/* side */
#media-information .side-information{
	background: #127afb;
	-webkit-box-shadow: 3.654px -1.627px 28px 0px rgba(9, 46, 88, 0.4);
	        box-shadow: 3.654px -1.627px 28px 0px rgba(9, 46, 88, 0.4);
	color: #fff;
	position:  absolute;
	width:  400px;
	margin-left:  -60px;
	top: 80px;
	bottom: 80px;
	z-index: 2;
}
#media-information .side-information h2{
	font-size: 44px;
	margin-top: 70px;
	margin-bottom: 70px;
	padding-left: 30px;
}
#media-information .side-information .information-item{
	margin-bottom: 20px;
	padding: 8px 30px 8px 50px;
	/*margin-left: -20px;*/
	color: rgb(230, 230, 230);
	cursor: pointer;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
#media-information .side-information .information-item.active,
#media-information .side-information .information-item:hover{
	-webkit-box-shadow: 0 15.373px 28px 0px rgba(1, 65, 138, 0.5);
	        box-shadow: 0 15.373px 28px 0px rgba(1, 65, 138, 0.5);
    background-color: rgba(80, 161, 253, .4);
}
#media-information .side-information .information-item.active{
/*	color: #fff;
	background-color: rgb(80, 161, 253);
	box-shadow: 0 15.373px 28px 0px rgba(1, 65, 138, 0.5);
	position: relative;
	margin-left: -20px; */
}
#media-information .side-information .information-item.active:before{
	content: '';
	position: absolute;
}
#media-information .side-information .information-item p{
	text-align: justify;
	line-height: 1.45;
	font-size: 20px;
}
#media-information .side-information .information-item span{
	display: block;
	text-align:  right;
	margin-right: 0;
}
/* content */
#media-information .content-information-box{
	padding-left: 420px;
	padding-top: 80px;
	padding-bottom: 76px;
	padding-right: 80px;
	width: auto;
}
#media-information .content-information-box .content-text{
	max-height: 800px;
	overflow-y:  scroll;
	padding-right: 60px;
	display: none;
	position: relative;
	padding-bottom: 100px;
}
/*#media-information .shadow:before{
	box-shadow: inset -8px -175px 146px -2px rgba(255,255,255,0.7);
	position: absolute;
	content: '';
	width: 100%;
	bottom: 0;
	height: 185px;
	right:  0;
	z-index: 1;
}*/
.content-information-box{
	position: relative;
}
#media-information .content-information-box .content-text.active{
	display: block;
}
/* width */
.content-information-box .content-text::-webkit-scrollbar {
    width: 8px;
    display: block;
    position: relative;
    z-index: 10;
}
/* Track */
.content-information-box .content-text::-webkit-scrollbar-track {
    background-color: #ccd2e3;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border-radius: 20px;
}
/* Handle */
.content-information-box .content-text::-webkit-scrollbar-thumb {
    background: #127afb;
    border-radius: 20px;
}
/* Handle on hover */
.content-information-box .content-text::-webkit-scrollbar-thumb:hover {
    /*background: #2a5efa; */
}

#media-information .content-information-box .content-text h3{
	color: rgb(77, 77, 77);
	font-size: 24px;
	line-height: 1.2;
	margin-top:  0;
	padding-bottom: 40px;
}
#media-information .content-information-box .content-text p{
	line-height: 1.875;
	color: rgb(153, 153, 153);
	margin-bottom: 24px;
}

#media-information .content-information-box:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    display: block;
    margin-top: -120px;
    z-index: 90;
    right: 88px;
    max-width: 600px;
    background-image: -webkit-linear-gradient( 90deg, rgba(255,255,255, 1) 0, rgba(255,255,255, .4) 50%);
}


/* investment
--------------------------------------------*/
#investment{
	background: url('./images/investment-bg.png');
	background-color: #3a69f9;
	background-position: bottom;
	background-repeat: no-repeat;
}
#investment .section-header{
	color: #fff;
}
#investment .section-header h3{
	background-color: #3a69f9;
	color: #fff;
}
#investment .investment-intem{
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	padding: 20px 30px;
	color: #fff;
	text-align:  center;
	margin-top: 30px;
	cursor: default;
}
#investment .investment-intem:hover{
	background-color: rgb(58, 105, 249);
	-webkit-box-shadow: 0px 5px 24px 0px rgba(15, 95, 188, 0.53);
	        box-shadow: 0px 5px 24px 0px rgba(15, 95, 188, 0.53);
}
#investment .investment-intem img{
	margin: 26px auto;
	display: block;
}
#investment .investment-intem .name{
	font-size:  28px;
	margin-bottom: 20px;
}
#investment .investment-intem p{
	line-height: 1.8;
	min-height: 110px;
}
.company{
	margin-top: 50px;
}
.company img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	margin-top: 30px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.company img:hover{
	-webkit-box-shadow: 0px 4px 36px 0px rgba(15, 95, 188, 0.7);
	        box-shadow: 0px 4px 36px 0px rgba(15, 95, 188, 0.7);
}

/* about
--------------------------------------------*/
#about{
	min-height:  100%;
	padding: 100px 0 0;
	height: 100%;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
#about h3{
	color: rgb(77, 77, 77);
	line-height: 1.8;
	text-align: center;
	width: 480px;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	font-size: 16px;
	padding: 0 15px;
	cursor: default;
}
#about h3 span{
	font-size: 26px;
	
}
#about .qr{
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	display: block;
	margin: 50px auto;
}

.about-form{
	max-width: 780px;
	display: block;
	margin: 0 auto;
}

#about input[type="text"]{
	width: 100%;
	border: none;
	border: none;
	color: #333;
	border-bottom: 1px solid rgba(153, 153, 153, .5);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	font-size: 24px;
	padding: 10px 0;
}
#about input[type="text"]::-webkit-input-placeholder{
	text-align: center;
	color: #999;
}
#about input[type="text"]:-ms-input-placeholder{
	text-align: center;
	color: #999;
}
#about input[type="text"]::-ms-input-placeholder{
	text-align: center;
	color: #999;
}
#about input[type="text"]::placeholder{
	text-align: center;
	color: #999;
}
#about input[type="text"]:hover,
#about input[type="text"]:focus{
	border-bottom: 1px solid #333;

}
#about input[type="text"]:focus::-webkit-input-placeholder{
	text-align: left;
}
#about input[type="text"]:focus:-ms-input-placeholder{
	text-align: left;
}
#about input[type="text"]:focus::-ms-input-placeholder{
	text-align: left;
}
#about input[type="text"]:focus::placeholder{
	text-align: left;
}
#about input[type="submit"]{
	font-size: 24px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: 50px auto 0;
	display:  block;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
#about input[type="submit"]:active{
    background-image: -webkit-gradient( linear, left top, left bottom, from(#0edfff), to(#0230ba) );
    background-image: -webkit-linear-gradient( top, #0edfff 0%, #0230ba );
    background-image: -o-linear-gradient( top, #0edfff 0%, #0230ba );
    background-image: linear-gradient( 180deg, #0edfff 0%, #0230ba );
}


/* footer
--------------------------------------------*/
footer{
	background: #f2f6fd;
	padding: 15px 0;
	margin-top: 60px;
}
footer .soc-icons{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
footer .soc-icons .footer-icon{
	display: inline-block;
	width: 96px;
	height: 96px;
	background-repeat: no-repeat;
	background-size: 96px;
	-webkit-transition: background-image .6s;
	-o-transition: background-image .6s;
	transition: background-image .6s;
	margin: 0 30px;
}
footer .copyright{
	cursor: default;
	text-align: center;
	font-size: 16px;
	color: rgb(153, 153, 153);
	line-height: 2;
}
/*
footer .footer-icon.fackbook{
	background-image: url('./images/share-fackbook.png');
}
footer .footer-icon.fackbook:hover{
	background-image: url('./images/share-fackbook-hover.png');
}
footer .footer-icon.telegram{
	background-image: url('./images/share-telegram.png');
}
footer .footer-icon.telegram:hover{
	background-image: url('./images/share-telegram-hover.png');
}
footer .footer-icon.twitter{
	background-image: url('./images/share-twitter.png');
}
footer .footer-icon.twitter:hover{
	background-image: url('./images/share-twitter-hover.png');
}
footer .footer-icon.wechat{
	background-image: url('./images/share-wechat.png');
}
footer .footer-icon.wechat:hover{
	background-image: url('./images/share-wechat-hover.png');
}
footer .footer-icon.weibo{
	background-image: url('./images/share-weibo.png');
}
footer .footer-icon.weibo:hover{
	background-image: url('./images/share-weibo-hover.png');
}
*/

.flip-clock-wrapper{
}
.flip-clock-wrapper .flip:nth-child(5n - 1){
	margin-right: 30px;
}
.hide-images{
	opacity: 0;
	position: absolute;
	z-index: -100;
	height: 0;
	width: 0;
}



/* footer
--------------------------------------------*/
.popup-container{
	display: none;
}
.popup{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(3, 27, 101, .85);
	z-index: 1000;
	display: flex;
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
}
.popup .close-popup{
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.popup-wrap{
	background: url('./images/popup-bg.png') no-repeat, #fff;
	max-width: 100%;
	width: 600px;
	height: 700px;
	display: block;
	margin: auto;
	border-radius: 5px;
	text-align: center;
    padding: 20px 15px;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    cursor: default;
}
.content-popup{
	padding-top: 150px;
}
.popup-wrap h2{
	font-size: 26px;
}
.popup-wrap .content-popup h2{
	color: rgb(51, 51, 51);
	line-height: 1.6;
	font-size: 26px;
	max-width: 350px;
	margin: 0 auto;
}
.content-popup .qr{
	padding-top: 70px;
}


@media only screen and (max-width: 1600px) {

}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
	/* technical */
	#technical img.phone-img{
		bottom: -52px;
		width: 600px;
	}
	/*#timer .clock span{
		font-size: 52px;
		letter-spacing: 40px;
		text-indent: 19px;
		line-height: 86px;
		width: 135px;
		height: 91px;
		background-size: 68px;
	}
	#timer .clock span.s1{
		width: 68px;
	}*/
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	/* mobile menu */
	#sandwich{
		display: block;
	}
	header.active{
	    background-color: rgb(21, 63, 191);
	}
	header .container{
		display: block;
	}
	header .logo{
		margin-top: 12px;
	}
	#main-menu{
		display: none;
		float: none;
		position: static;
		width: 100%;
	    padding: 10px 0;

	}
	#main-menu .active .menu-item{
		border: none;
	}
	#main-menu .menu-item{
		display: block;
		margin-left: -16px;
		padding-left: 16px;
		max-width: max-content;
	}


	#banner h2{
		margin-top: 0;
	    margin-bottom: 20px;
		font-size: 32px;
	}
	#banner p{
		font-size: 18px;
	}

	/* profesional */
	.profesional-img img.profesional-center{
		margin-bottom: 0;
		margin-left: -8px;
	}
	.profesional-img img{
		margin: 0 auto;
		display: block;
		width: 100%;
	    max-width: max-content;
	}

	/* technical */
	#technical .technical-item,
	#technical .right-technical .technical-item{
		padding: 0;
		background: none !important;
	}
	.map-item-container{
		grid-gap: 10px;
	}

	/* media-information */
	#media-information .side-information h2{
		padding-top: 30px;
		margin-top: 0;
		margin-bottom: 30px;
	}
	#media-information .side-information{
		position: static;
		width: 100%;
	}
	#media-information .side-information{
		margin-left: -20px;
	}
	#media-information .information-box{
		margin-left: 40px;
	}
	#media-information .content-information-box{
		padding: 15px;
	}
	footer .soc-icons .footer-icon{
	    margin: 0 20px;
	}
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	section{
		padding-top: 60px;
	}
	
	
	.section-header hr{
		display: none;
	}
	.section-header h2{
		font-size: 28px;
		margin-top: 10px;
	}
	h2{
		font-size: 32px;
	}
	
	#banner .banner-logo{
	    max-width: 94%;
	}
	#banner h2{
		margin-top: 10px;
	}
	#banner p{
		/*font-size: 18px;*/
	}
	/* hunter */
	#hunter h2{

	}
	#hunter p{
		font-size: 16px;
	}
	
	/* investment */
	#investment .investment-intem{
		margin-top: 0;
	}
	#investment .investment-intem img{
		margin: 0 auto;
	}

	/* timer */
	#timer h3{
		text-align: center;
		margin: 20px 0;
	}
	#timer .clock{
		display: block;
    	margin: 0 auto !important;
	}
	.flip-clock-wrapper ul{
		width: 20px;
		height: 50px;
		margin: 2px;
		padding: 13px;
	}
	.flip-clock-wrapper .flip:nth-child(5n - 1){
		margin-right: 10px;
	}
	.flip-clock-wrapper ul li{
		line-height: 50px;
	}
	.flip-clock-wrapper ul li a div div.inn{
		font-size: 40px;
	}

	/* map */
	#map{
		padding-top: 40px;
	}
	#map .map-img{
		max-width: 100%;
		padding-top: 0;
	}

	/* technical */
	#technical h2{
		margin-bottom: 50px;
	}
	#technical h3:after, #technical h3:before{
		content: none;
	}
	#technical .right-technical .technical-item{
		float: left;
	}
	#technical .right-technical .technical-item,
	#technical .technical-item{
		max-width: 100%;
		text-align: left;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
		min-height: initial;
		margin-bottom: 30px;
	}
	#technical img.phone-img{
		display: none;
	}
	
	#team .row,
	#team .col-sm-4{
		display: block;
	}
	
	/* company */
	.company{
		margin-top: 0;
	}

	
	/* media-information */
	#media-information .side-information h2{
		font-size: 32px;
	}
	#media-information .side-information .information-item p{
		font-size: 18px;
	}
	#media-information .side-information{
		margin-left: -20px;
	}
	#media-information .information-box{
		margin-left: 15px;
	}
	#media-information .content-information-box .content-text{
		padding-right: 15px;
	}
	#media-information .content-information-box .content-text h3{
		font-size: 20px;
	}

	/* employment */
	#employment img.employment-img{
		margin-bottom: 0;
	}

	/* footer */
	footer .soc-icons .footer-icon{
		width: 54px;
		margin: 0;
	}
	
}

@media only screen and (max-width: 650px) {
	/*#timer .clock span{
		font-size: 25px;
		letter-spacing: 18px;
		text-indent: 11px;
		line-height: 40px;
		width: 64px;
		height: 41px;
		background-size: 33px;
	}
	#timer .clock span.s1{
		width: 32px;
	}*/
}